body {
	background-color: rgba(206, 204, 186, 0.5);
}

.top-photo {
    /* The image used */
    background-image: url('/pix/DSC_9383.jpg');	
}

.parallax {

    /* Full height */
    min-height: 800px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 100px;
    background-size: cover;
}

.relative {
	position: relative;
}

#navbar {
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	z-index: 9999;
	/*background-color: #A305A9;*/
	background-color: rgba(206, 204, 186, 0.1);
}

.navbar-collapse {
  max-height: none;
}

#links {
	margin: 20px auto 20px auto;
}

	#links li {
		display: inline-block;
	}

#wrapper {
	width: 100%;
	min-height: 1000px;
	padding-top: 100px;
}

#subheader {
	width: 50%;
	text-align: center;
	margin-left: 25%;
}


#nav1 {
	vertical-align: text-bottom;
	text-align: center;
	position: relative;
	margin: 0 auto;
	height: 500px;
	width: 100%;
	/*background-image: url('/pix/DSC_9383.jpg');*/
	/*background-size: 100%;*/
	/*background-repeat: no-repeat;*/
	box-shadow: 2px 2px 10px #ccc;
}

	#nav1 h1 {
		position: absolute;
		margin-left: 30%;
		bottom: 60px;
		color: #FFF;
		font-weight: bold;
		font-size: 3.0em;
		font-family: "Cedarville Cursive";
	}

	canvas {
		margin: auto auto 50px;	
	}

	.w3-content {
		max-width: 100%;
		max-height: 800px;
	}

	.mySlides {
		display: none;
		position: relative;
	}

	.mySlides.slide1 {
    	background-image: url('/pix/IMG_4722.jpg');
    	background-position-y: -50px; 	
	}
	.mySlides.slide2 {
    	background-image: url('/pix/DSC_9161.jpg');
    	background-position-y: -50px; 	
	}
	.mySlides.slide3 {
    	background-image: url('/pix/DSC_9368.jpg');
    	background-position-y: -100px; 	
	}

/*	.mySlides img {
		width: 100%;
	}
*/
	.top {
		position: absolute;
		width: 100%;
		color: white;
		margin-top: 100px;
		padding: 10px 50px;
		font-size: 1.1em;
		text-align: center;
		background-color: rgba(112, 66, 20, 0.2);
	}

	.bottom {
		position: absolute;
		bottom: 0;
		width: 100%;
		color: white;
		padding: 10px 50px;
		font-size: 1.1em;
		text-align: center;
		background-color: rgba(112, 66, 20, 0.3);
	}

	.mySlides.show {
		display: block;
	}

#carouselbox {
	margin: 0 auto;
	margin-top: 100px;
	height: 600px;
	width: 900px;
	background-color: rgba(112, 66, 20, 0.1);
	overflow: hidden;
	position: relative;
	box-shadow: 2px 2px 10px #ccc;
}

	.active {
		height: 500px;
	}
	
	#nav2 h2 {

	}

	ul#ourstorylist {
		list-style-type: none;
 		list-style-position: outside;
 		list-style-image: none;
 		height: inherit;
 		width: inherit;
 		padding: 0;
 		position: absolute;
 		overflow: hidden;
 		/*white-space: nowrap;*/

	}

		ul#ourstorylist li {
			padding: 50px;
			margin: 0 auto;
			display: block;
			height: 100%;
			float: left;
			position: relative;
		}

		ul#ourstorylist li#ourstory1 {
			background-image: url('/pix/DSC_9187.jpg');
			background-size: 100%;
			background-repeat: no-repeat;
			height: 100%;
			padding-right: 450px;
			padding-top: 200px;

		}

		ul#ourstorylist li#ourstory2 {
			background-image: url('/pix/DSC_9188.jpg');
			background-size: 100%;
			background-repeat: no-repeat;
			height: 100%;
			padding-right: 400px;

		}


#thewedding {
	position: relative;
	margin: 100px auto 25px auto;
	height: 500px;
	width: 100%;
	background-image: url('/pix/DSC_9574.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	box-shadow: 2px 2px 10px #ccc;
}

	#weddingdivtext {
		width: 250px;
		text-align: center;
		margin: 0 auto;
	}

#nav4 {
	margin: 0 auto;
	margin-top: 100px;
	height: 500px;
	width: 90%;
	background-color: rgba(112, 66, 20, 0.1);
}

#nav5 {
	margin: 0 auto;
	margin-top: 100px;
	height: 500px;
	width: 90%;
	background-color: rgba(112, 66, 20, 0.1);
}

#nav6 {
	margin: 0 auto;
	margin-top: 100px;
	height: 500px;
	width: 90%;
	background-color: rgba(112, 66, 20, 0.1);
}

#nav7 {
	margin: 100px auto;
	height: 500px;
	width: 90%;
	background-color: rgba(112, 66, 20, 0.1);
}

#footer {
	width: 100%;
	height: 100px;
	bottom: 0;
	z-index: 9999;
	/*background-color: #A305A9;*/
	background-color: rgba(112, 66, 20, 0.1);
}

#footertext {
	width: 450px;
	margin: 20px auto;
}

 #footer p {
 	display: inline-block;
 }