body {
	background-color: rgba(206, 204, 186, 0.1);
/*	background-image: url('/pix/DSC_9204.jpg');
	background-repeat: no-repeat;
	background-size: 963px 1080px;
	background-position: center;*/
}


.top-photo {
    background-image: url('/pix/DSC_9383_prod.jpg');
    background-position-y: 100px;
}

.parallax {

    /* Full height */
    min-height: 700px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 0px;
    background-size: cover;
}

.relative {
	position: relative;
}

#navbar {
	width: 100%;
	height: 100px;
	position: fixed;
	bottom: 0;
	z-index: 9999;
	background-color: #DAE8F3;
	border-top: solid 0.5px rgba(200, 214, 225, 1);
	box-shadow: 0px 10px 25px 0px #333;
}

.links {
	padding: 0px;
	margin: 0 auto;
	width: 600px;
}

	.links li {
		margin-top: 10px;
		margin-left: 15px;
		display: inline-block;
		font-weight: bolder;
	}

	.links li a {
		text-decoration: none;
		font-size: 1.8em;
		color: #86848F;
		font-family: "Sue Ellen Francisco";
	}

#wrapper {
	width: 100%;
	min-height: 600px;
}

.title {
	position: absolute;
	bottom: 190px;
	width: 100%;
	text-align: center;
	background-color: rgba(218, 232, 243, 0.5);
	color: #0E2038;
}

	.titletext {
		font-family: "Alex Brush";
		text-align: center;
		font-size: 5em;
		text-shadow: -2px 2px 1px #86848F;
		margin-bottom: -14px;
	}

	.ourstory h2 {
		font-family: "Sue Ellen Francisco";
		font-size: 3.0em;
		color: #0E2038;
		text-shadow: -2px 2px 1px #86848F;
	}

	.ourstory p {
		color: #0E2038;
		font-family: "Sue Ellen Francisco";
		font-size: 1.8em;
	}

#subheader {
	width: 100%;
	text-align: center;
}

	#subheader h3 {
		font-family: "Sue Ellen Francisco";
		font-size: 2em;
	}

.spacer1 {
	min-height: 625px;
	width: 100%;
	background-color: #fff5f0;
	position: relative;
	padding-top: 25px;
} 

	.spacer1 .ourstory {
		min-height: 530px;
		width: 60%;
		text-align: center;
		margin: 20px auto 0px auto;
		padding: 0px 25px;
		border: 10px solid #0E2038;
		box-shadow: -2px 2px 1px #86848F;
		border-radius: 2px;
	}

	.spacer1 .ourstory .ourstorytext {
		margin: 0 auto;
		text-align: left;
		line-height: 1.2;
	}


#nav1 {
	vertical-align: text-bottom;
	text-align: center;
	position: relative;
	margin: 0 auto;
	height: 500px;
	width: 100%;
	box-shadow: 2px 2px 10px #ccc;
}

	#nav1 h1 {
		position: absolute;
		margin-left: 30%;
		bottom: 60px;
		color: #FFF;
		font-weight: bold;
		font-size: 3.0em;
		font-family: "Cedarville Cursive";
	}

	.spacer2 {
		height: 1000px;
		width: 100%;
		background-color: #fff5f0;
		position: relative;
		/*margin-top: 50px;*/
	}

	#main-gallery-wrapper {
		height: 650px;
		width: 100%;
		background-color: #fff5f0;
		position: relative;
	}

	

		#main-gallery-desktop {
			width: 100%;
			height: 600px;
			font-family: "Sue Ellen Francisco";
		}


			#main-gallery-desktop .swiper-wrapper {
				width: 100%;
				height: 100%;
			}

				#main-gallery-desktop .swiper-wrapper .swiper-slide {
					height: 100%;
				}

				#main-gallery-desktop p {
					font-size: 2em;
					margin: 5px;
					display: block;
				}

				#slide1 {
					background-image: url(/pix/IMG_4722_prod.jpg);
					background-size: 100%;
					background-repeat: no-repeat;
					background-position-y: 95%;

				}

				#slide2 {
					background-image: url(/pix/DSC_9161.jpg);
					background-size: 100%;
					background-repeat: no-repeat;
					background-position-y: 7%;

				}

				#slide3 {
					background-image: url(/pix/DSC_9368.jpg);
					background-size: 100%;
					background-repeat: no-repeat;
					background-position-y: 66%;
				}

				#main-gallery-desktop .swiper-wrapper .swiper-slide img {
					width: 100%;
				}

			.swiper-button {
				background-color: rgba(125, 125, 125, 0.5);
				height: 54px;
				width: 54px;
				border-radius: 30px;
				background-image: none;
			}

			.swiper-button-prev {
				left: 2%;
				margin-top: -2%;
				padding: 7px;
			}

				.swiper-button-prev span {
					opacity: 0.5;
				}

			.swiper-button-next {
				right: 2%;
				margin-top: -2%;
				padding: 5px;
			}

				.swiper-button-next span {
					margin: 1px 0px 0px 10px;
					opacity: 0.5;
				}


	.w3-content {
		max-width: 100%;
		max-height: 800px;
	}

	.mySlides {
		display: none;
		position: relative;
	}

	.mySlides p {
		font-family: "Covered By Your Grace";
		color: #DAE8F3;
		font-size: 2em;
		text-shadow: -2px 2px 1px #0E2038;
		line-height: 1.1;
	}

		.gallery-title {
			font-family: "Sue Ellen Francisco";
			color: #DAE8F3;
		}

		.name {
			font-family: "Alex Brush";
			font-size: 1.4em;
			color: #FFF5F0;
			text-shadow: -2px 2px 1px #86848F;
		}

	.mySlides.slide1 {
    	background-image: url('/pix/IMG_4722_prod.jpg');
    	background-position-y: -150px;
    	min-height: 650px;
	}
	.mySlides.slide2 {
    	background-image: url('/pix/DSC_9161.jpg');
    	min-height: 650px;	
	}
	.mySlides.slide3 {
    	background-image: url('/pix/DSC_9368.jpg');
    	background-position-y: -190px;
    	min-height: 650px;
	}

	.gallerydots,
	.gallerydots {
		bottom: 12px;
	}

	.partyGallery .gallerydots {
		bottom: 60px;
	}


	.gallerydots span, 
	#sidebar li a span {
		height: 15px;
		width: 15px;
		padding: 0;
		border: 2px solid gray;
	}


	.bottom {
		min-height: 60px;
		position: absolute;
		bottom: 2%;
		width: 100%;
		color: white;
		text-align: center;
		background-color: rgba(14, 32, 56, 0.5);
	}

	.left {
		position: absolute;
		width: 33%;
		color: white;
		margin-top: 100px;
		padding: 10px 50px;
		font-size: 1.9em;
		text-align: left;
		background-color: rgba(14, 32, 56, 0.5);
	}

	.right {
		position: absolute;
		right: 0;
		width: 30%;
		color: white;
		margin-top: 100px;
		padding: 10px 50px;
		font-size: 1.1em;
		text-align: left;
		background-color: rgba(14, 32, 56, 0.5);
	}

		.right p {
			width: 500px;
		}

	.mySlides.show, .partySlides.show {
		display: block;
	}

#carouselbox {
	margin: 0 auto;
	margin-top: 100px;
	height: 600px;
	width: 900px;
	background-color: rgba(112, 66, 20, 0.1);
	overflow: hidden;
	position: relative;
	box-shadow: 2px 2px 10px #ccc;
}

	.active {
		height: 500px;
	}
	
	#nav2 h2 {

	}

	ul#ourstorylist {
		list-style-type: none;
 		list-style-position: outside;
 		list-style-image: none;
 		height: inherit;
 		width: inherit;
 		padding: 0;
 		position: absolute;
 		overflow: hidden;
 		/*white-space: nowrap;*/

	}

		ul#ourstorylist li {
			padding: 50px;
			margin: 0 auto;
			display: block;
			height: 100%;
			float: left;
			position: relative;
		}

		ul#ourstorylist li#ourstory1 {
			background-image: url('/pix/DSC_9187.jpg');
			background-size: 100%;
			background-repeat: no-repeat;
			height: 100%;
			padding-right: 450px;
			padding-top: 200px;

		}

		ul#ourstorylist li#ourstory2 {
			background-image: url('/pix/DSC_9188.jpg');
			background-size: 100%;
			background-repeat: no-repeat;
			height: 100%;
			padding-right: 400px;

		}

	#when-where {
		width: 90%;
		/*border: 5px solid orange;*/
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
		height: 200px;
	}


	.box1 {
		width: 50%;
		height: 190px;
		/*border: 5px solid blue;*/
		margin: 0 auto 50px auto;
		text-align: center;
	}

	.box2 {
		width: 90%;
		height: 150px;
		/*border: 5px solid blue;*/
		margin: 0 auto;
		text-align: center;
	}

	.rsvp-accommodations {
		width: 90%;
		height: 375px;
		/*border: 5px solid blue;*/
		margin: 0 auto;
		text-align: center;
		display: flex;
		justify-content: space-around;
	}

		.rsvp-accommodations h3 {
			font-family: "Sue Ellen Francisco";
			font-size: 2em;
		}

	.box3 {
		width: 45%;
		height: 375px;
		/*border: 5px solid blue;*/
		margin: 0 auto;
		text-align: center;
	}

	.reservation-box {
		height: 50px;
		width: 200px;
		text-align: center;
		margin: 15px auto;
		border: 5px solid #0E2038;
		box-shadow: -2px 2px 1px #86848F;
		background-color: rgba(218, 232, 243, 0.5);
		border-radius: 5px;
	}

		.reservation-box a {
			text-decoration: none;
		}

		.reservation-box h3 {
			margin: 3px auto;
    		vertical-align: middle;
    		padding: 0;
		}



.event-date-and-location {
	height: 125px;
	width: 550px;
	text-align: center;
	display: block;
	margin: 0 auto;
}

.event-date {
	display: block;
	float: left;
	position: relative;
}

.event-location {
	display: block;
	float: left;
	position: relative;
}

.small-box {
	width: 49.79%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.divider-vertical {
	margin: 20px 0;
	height: 150px;
	width: 1px;
	border: 1px solid #0E2038;
}

.divider-horizontal {
	margin: 0 auto;
	height: 1px;
	width: 50px;
	border: 1px solid #0E2038;
}

	.event-title {
		width: 100%;
		text-align: center;
		position: absolute;
		top: 0;
		color: #0E2038;
	}

	.event-text {
		width: 100%;
		text-align: center;
		position: absolute;
		bottom: 0;
		color: #0E2038;
	}

	.rsvp-box {
		height: 50px;
		width: 100px;
		text-align: center;
		margin: 15px auto 0px auto;
		border: 5px solid #0E2038;
		box-shadow: -2px 2px 1px #86848F;
		border-radius: 5px;
	}

		.rsvp-box a {
			text-decoration: none;
		}

		.rsvp-box h3 {
			margin: 3px auto;
			vertical-align: middle;
			padding: 0;
			font-family: "Sue Ellen Francisco";
			font-size: 2em;
			color: #0E2038;
		}

		#formal-invitation {
			margin-top: 25px;
		}



.ringphoto {
	position: relative;
	margin: 0 auto;
	height: 650px;
	width: 100%;
	background-image: url('/pix/DSC_9574.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	filter: grayscale(0.4);
	z-index: -1;
}

.ringphotofilter {

  	height: 100%;
  	width: 100%;
  	position: absolute;
}
	
	.ringphototext {
		color: #0E2038;
		z-index: 999999;
		width: 50%;
		left: 26%;
		padding-top: 195px;
		position: absolute;
		z-index: 0;
	}

		.ringphototext p {
			font-family: "Covered By Your Grace";
			font-size: 2em;
			z-index: 99999;
			text-shadow: 0px 0px 2px #FFF5F0;
		}

		.closing {
			width: 60%;
			margin-left: 22%;
		}

		.signed {
			margin-top: -25px;
		}

	#weddingdivtext {
		color: #0E2038;
		padding: 30px 0;
		min-height: 750px;
		margin: auto;
		width: 60%;
		word-wrap: break-word;
		text-align: center;
		border: 10px solid #0E2038;
		box-shadow: -2px 2px 1px #86848F;
		margin: 0px auto 0px auto;
		padding: 0px 25px;
		border-radius: 2px;
	}

	#weddingdivtext h1 {
		font-family: "Sue Ellen Francisco";
		text-shadow: -2px 2px 1px #86848F;
		color: #0E2038;
	}

	#weddingdivtext h4 {
		font-family: "Sue Ellen Francisco";
		font-size: 2em;
		color: #0E2038;
	}

.spacer3 {
	height: 1000px;
	width: 100%;
	background-color: #FFF5F0;
	position: relative;
	clear: both;
	text-align: center;
	padding-top: 20px;
} 

	#weddingparty {
		/*clear: both;*/
		width: 100%;
		margin-bottom: 20px;
	}

	#weddingparty h1 {
		margin: 0;
		color: #0E2038;
		font-family: "Sue Ellen Francisco";
	}

	#leftgallerybox {
		display: block;
		width: 49%;
		min-height: 100px;
		float: left;
		padding-bottom: 10%;
	}

	#rightgallerybox {
		display: block;
		width: 49%;
		min-height: 100px;
		float: right;
		padding-bottom: 10%;
	}

	.spacer3 ul {
		flex-direction: row;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-content: space-between;
		margin: 0;
		padding: 2px;
	}

	.spacer3 li {
		text-align: center;
		background-color: #0E2038;
		flex: 0 160px;
		margin: 2px;
	}

	.invisible {
		height: 0;
		visibility: hidden;
	}

	.invisible img {
		height: 0;
		width: 0;
	}

	.invisible figcaption {
		height: 0;
		padding: 0;
	}

	.spacer3 img {
		height: 150px;
		filter: grayscale(0.25);
	}

	.cropped {
		max-width: 145px;
		overflow: hidden;
		margin: 0 auto;
		display: block;
		/*text-indent: -19px;*/
	}

	figure {
		margin: 0;
		display: block;
		position: relative;
	}

	figcaption {
		background: #0E2038;
		display: block;
		/*position: absolute;*/
		/*bottom: 0;*/
		width: 100%;
		text-align: center;
		color: #DAE8F3;
		padding: 4px;
		box-sizing: border-box;
		font-family: "Covered By Your Grace";
		font-size: 1.3em;
	}

.spacer4 {
	height: 700px;
	width: 100%;
	background-color: red;
}

	.dw-panel img {
  		max-height: 5%;
	}


#nav4 {
	margin: 0 auto;
	margin-top: 100px;
	height: 500px;
	width: 90%;
	background-color: rgba(112, 66, 20, 0.1);
}

#nav5 {
	margin: 0 auto;
	margin-top: 100px;
	height: 500px;
	width: 90%;
	background-color: rgba(112, 66, 20, 0.1);
}

#nav6 {
	margin: 0 auto;
	margin-top: 100px;
	height: 500px;
	width: 90%;
	background-color: rgba(112, 66, 20, 0.1);
}

#nav7 {
	margin: 100px auto;
	height: 500px;
	width: 90%;
	background-color: rgba(112, 66, 20, 0.1);
}

#footer {
	width: 100%;
	height: 20px;
	bottom: 0;
}

#footertext {
	width: 100%;
	white-space: nowrap;
	text-align: center;
}

 #footer p {
 	font-size: 0.9em;
 	display: inline-block;
 	color: #CCC;
 }

.mobile {
	display: none;
}

@media only screen and (max-device-width: 700px) {
	html, body {
		font-size: 30px;
	}

	.mobile {
  		display: block;
    }

    .desktop {
    	display: none;
    }

	.top-photo {
    	background-image: url('/pix/IMG_4723_prod2.jpg');
    	min-height: 1500px;
	}

    .parallax {
        background-attachment: scroll;
    }
    .title {
    	bottom: inherit;
    	top: 650px;
    	height: 450px;
    }

   	.titletext {
		margin-bottom: -50px;
	}

    #subheader h3{
    	font-size: 2.7em;
    }

    .spacer1 {
    	height: 1000px;
    }

    .spacer1 .ourstory {
    	width: 90%;
		margin: 2% auto;
	}

	.spacer1 .ourstory .ourstorytext {
		padding: 0px 50px 25px 50px;
	}

	.spacer1 .ourstory .ourstorytext p {
		font-family: "Sue Ellen Francisco";
		padding-bottom: 0px;
		font-size: 2.8em;
		line-height: 1.3;
	}

	.moretext {
    	display: none;
    }

    .expand {
    	display: block;
    }

    .tall {
    	height: 4150px;
    }

    .ourstorytext button {
    	display: block;
    	margin-top: -75px;
    	width: 100%;
    	color: #0E2038;
    	border: none;
    	background-color: transparent;
    	outline: none;
    }

    #gallery-mobile {
    	min-height: 4475px;
    	background-color: #fff5f0;
    }

	.mySlides {
    	display: block;
    }

	.mySlides p {
		padding: 40px;
		color: rgba(14, 32, 56, 0.5);
		font-size: 3em;
	}

    .mySlides.slide1 {
    	background-image: url('/pix/IMG_4722_mob.jpg');
    	background-position-y: 0px;
    	min-height: 1200px;
    	width: 100%;
	}

	#slide1caption {
    	width: 90%;
    	text-align: center;
		margin: 50px auto 50px auto;
		padding: 25px;
		border: 10px solid #0E2038;
		box-shadow: -2px 2px 1px #86848F;
		border-radius: 1px;
    }

    #slide1caption p {
    	margin: 0px;
    	padding: 0px;
		color: rgba(14, 32, 56, 0.5);
		text-shadow: -2px 2px 1px #0E2038;
		font-size: 2.8em;
		font-family: "Sue Ellen Francisco";
		line-height: 1.1;
    }

        #slide1caption p:nth-of-type(2){
    	margin: 20px auto;
    }

	.mySlides.slide2 {
    	background-image: url('/pix/DSC_9161_mob.jpg');
    	height: 800px;
    	/*width: 100%;	*/
	}

	#erika {
    	position: absolute;
    	margin-top: 20px;
    	margin-left: 420px;
    	line-height: 1.0;
    	text-align: center;
    }

	#slide2caption {
    	width: 90%;
    	text-align: center;
		margin: 50px auto 50px auto;
		padding: 25px;
		border: 10px solid #0E2038;
		box-shadow: -2px 2px 1px #86848F;
		border-radius: 1px;
    }

    #slide2caption p {
    	margin: 0px;
    	padding: 0px;
		color: rgba(14, 32, 56, 0.5);
		text-shadow: -2px 2px 1px #0E2038;
		font-size: 2.8em;
		font-family: "Sue Ellen Francisco";
		line-height: 1.1;
    }

    #slide2caption p:nth-of-type(2){
    	margin: 20px auto;
    }

	.mySlides.slide3 {
    	background-image: url('/pix/DSC_9368_mob.jpg');
    	background-position-y: -190px;
    	background-position-x: -85px;
    	height: 1000px;
    	/*width: 100%;*/
	}

	#corey {
    	position: absolute;
    	margin-top: 570px;
    	margin-left: -50px;
    	line-height: 1.0;
    	text-align: center;
    	width: 75%;
    }

	#slide3caption {
    	width: 90%;
    	text-align: center;
		margin: -130px auto 0px auto;
		padding: 50px;
		border: 10px solid #0E2038;
		box-shadow: -2px 2px 1px #86848F;
		border-radius: 1px;
    }

    #slide3caption p {
    	margin: 0px;
    	padding: 0px;
		color: rgba(14, 32, 56, 0.5);
		text-shadow: -2px 2px 1px #0E2038;
		font-size: 2.8em;
		font-family: "Sue Ellen Francisco";
		line-height: 1.1;
    }

    .name {
    	font-size: 4em;
    	font-weight: bold;
    }

	.spacer2 {
		height: 3700px;
		width: 100%;
		background-color: #fff5f0;
		position: relative;
		padding-top: 110px;
		background-image: url('/pix/DSC_9574.jpg');
		background-size: 125%;
		background-repeat: no-repeat;
		background-position-x: -50px; 
	}

	.title-wedding {
		position: absolute;
		margin-top: 425px;
		width: 100%;
		text-align: center;
		background-color: rgba(218, 232, 243, 0.5);
		color: #0E2038;
	}

		.title-wedding h1 {
			margin-bottom: -15px;
		}

	#weddingdetails {
		padding: 30px 0;
		margin: 750px auto 100px auto;
		width: 90%;
		height: 2800px;
		word-wrap: break-word;
		text-align: center;
		border: 10px solid #0E2038;
		border-radius: 1px;
		box-shadow: -2px 2px 1px #86848F;
	}

		#weddingdetails h1 {
			font-family: "Sue Ellen Francisco";
			text-shadow: -2px 2px 1px #86848F;
			color: #0E2038;
			font-size: 3em;
		}

		#weddingdetails h4 {
			font-family: "Sue Ellen Francisco";
			font-size: 2em;
			color: #0E2038;
			font-size: 2.5em;
		}

	.box1 {
		width: 90%;
		min-height: 100px;
		/*border: 5px solid blue;*/
		margin: 0 auto 50px auto;
		text-align: center;
	}

	.divider {
		border: 2px solid #0E2038;
		height: 1px;
		width: 100px;
		margin: 25px auto;
		float: none;
	}

	.rsvp-box {
		height: 150px;
		width: 200px;
		padding: 10px;
		margin-top: 50px;
		margin-bottom: 30px;
		background-color: rgba(218, 232, 243, 0.5);
		box-shadow: -2px 2px 1px #86848F;
		border-radius: 5px;
	}

		.rsvp-box h3 {
			font-size: 3em;
			text-shadow: -2px 2px 1px #86848F;
		}

	.reservation-box {
		height: 165px;
		width: 500px;
		text-align: center;
		margin: 15px auto;
		border: 5px solid #0E2038;
		box-shadow: -2px 2px 1px #86848F;
		background-color: rgba(218, 232, 243, 0.5);
		border-radius: 5px;
	}

		.reservation-box a {
			text-decoration: none;
		}

		.reservation-box h3 {
			margin: 20px auto;
			vertical-align: middle;
			padding: 0;
			font-family: "Sue Ellen Francisco";
			font-size: 3em;
			color: #0E2038;
			text-shadow: -2px 2px 1px #86848F;
		}

	#party-gallery {
		height: 1800px;
		padding-top: 100px;
	}

		#party-gallery h1 {
			font-size: 3em;
			color: #0E2038;
			font-family: "Sue Ellen Francisco";
			text-shadow: -2px 2px 1px #86848F;
		}

		#party-gallery h3 {
			font-size: 2em;
			color: #0E2038;
			font-family: "Sue Ellen Francisco";
			text-shadow: -2px 2px 1px #86848F;
		}

		#party-gallery .swiper-container {
	        width: 100%;
	        height: 35%;
	        background: transparent;
	        margin-bottom: 75px;
	    }

	    	#party-gallery .swiper-container img {
	    		margin: 15px auto 15px auto;
	    		height: 75%;
	    		display: block;
	    		border: 20px solid #0E2038;
	    	}



    #party-gallery .swiper-container .swiper-slide {
        background-size: cover;
        background-position: center;
        background: transparent;
        text-align: center;
    }

    #party-gallery .swiper-container .swiper-slide-active {
  		background: transparent;
	}

	#party-gallery .swiper-container .swiper-slide span {
  		text-align:center;
  		display:block;
  		margin: 20px;
  		font-size:21px;
	}
	.swiper-container-horizontal .swiper-scrollbar {
		margin-top: 5px;
		height: 20px;
	}

	.swiper-container-3d .swiper-slide-shadow-left {
		background-image: none;
	}

	.swiper-container-3d .swiper-slide-shadow-right {
		background-image: none;
	}

	.swiper-button-prev {
		background-image: none;
		margin-top: -100px;
		left: 0;
		opacity: 0.5;
	}

	.swiper-button-next {
		background-image: none;
		margin-top: -100px;
		right: 35px;
		opacity: 0.5;
	}

    .gallery-top {
        height: 80%;
        width: 100%;
    }

    .gallery-thumbs {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
    }

    .gallery-thumbs .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }

    .gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }

    .spacer4 {
		height: 1600px;
		width: 100%;
		background-color: #FFF5F0;
		position: relative;
		clear: both;
		text-align: center;
		padding-top: 20px;
	}

	#registry-container {
		padding: 25px;
		margin: 0 auto;
		width: 90%;
		height: 1350px;
		word-wrap: break-word;
		text-align: center;
		border: 10px solid #0E2038;
		border-radius: 1px;
		box-shadow: -2px 2px 1px #86848F;
	}

		#registry-container h1 {
			font-family: "Sue Ellen Francisco";
			text-shadow: -2px 2px 1px #86848F;
			color: #0E2038;
			font-size: 3em;
		}

		#registry-container h4 {
			font-family: "Sue Ellen Francisco";
			font-size: 2em;
			color: #0E2038;
			font-size: 2.5em;
		}

		#logo-container {
			margin: 50px auto 0px auto;
			width: 90%;
			display: flex;
			justify-content: space-around;
		}

			#logo-container a {
				background-color: transparent;
			}

			#logo-container img {
				width: 250px;
			}

	#mobile-footer {
		width: 100%;
		height: 210px;
		margin-top: 5%;
		z-index: 9999;
		background-color: #DAE8F3;
		border-top: solid 0.5px rgba(200, 214, 225, 1);
		/*box-shadow: 0px 10px 25px 0px #333; */
	}

		#mobile-footer h4 {
			font-family: "Sue Ellen Francisco";
			font-size: 1.75em;
			color: #0E2038;
		}

body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 500px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
background-color: #DAE8F3;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.toggle-button {
	outline: none;
    font-size: 4.5em;
    position: fixed;
    right: 3%;
	top: -1%;
	z-index: 999;
	background-color: transparent;
	color: #3e3e3e;
	border: none;
}



	nav ul {
 		margin-top: 10%;
 		font-family: "Sue Ellen Francisco";
 		font-size: 2.8em;
 		color: #0E2038;
 		text-decoration: none;
	}

		nav ul li {
			margin-top: 15%;
		}

			nav ul li a {
				text-decoration: none;
			}





}