<!DOCTYPE html>
<html>
<head>
	<title>The Jackson Love Affair</title>
	<script src="app.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Cedarville Cursive" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	<nav id="navbar" class="navbar navbar-default navbar-fixed-top">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        	<span class="sr-only">Toggle navigation</span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
      	</button>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav" id="links">
			<li><a href="#">Home</a></li>
			<li><a href="#">Our Story</a></li>
			<li><a href="#">The Wedding</a></li>
			<li><a href="/bridalparty">The Bridal Party</a></li>
			<li><a href="#">Parking and Accommodations</a></li>
			<li><a href="#">Registry</a></li>
			<li><a href="#">RSVP</a></li>
		</ul>
		</div>
	</nav>

	<div id="wrapper" class="container col-sm-6 col-md-4 col-lg-2">




	
	<div id="nav1">
			<h1>The Jackson Love Affair</h1> 
			<!-- <canvas width=700 height=200></canvas> -->
	</div>
	<div id="subheader">
		<h4> “Therefore what God has joined together, let no one separate." Mark 10:9</h4>
		</div>
	<div id="carouselbox" class="active">
		
		<ul id="ourstorylist">
			<li id="ourstory1"><h2>Our Story</h2><p>Corey and Erika met in 2006 during Erika's first week at Michigan State University. The two quickly developed a strong friendship, affectionately nicknaming each other "Fav", short for Favorite. As their friendship flourished those closest to them began to notice what Corey and Erika would soon find out...They were meant to be.</p><p>On March 14, 2009 the two officially began dating, an adventure that would lead them from East Lansing, Michigan to Orlando, Florida as Erika went on to law school. The two returned to their home in Detroit, Michigan in September 2013. Corey asked Erika to marry him on May 30, 2016 at an intimate dinner with friends in Saint Clair, Michigan. Shortly afterward the two decided to start off their new chapter in Los Angeles, California, where they currently reside.</p></li>
			<li id="ourstory2">When I saw you I fell in love, and you smiled because you knew. - William Shakespeare<span>Bride: Erika Elyse Willis</span></li>
			<li id="ourstory3">I love you more than any word can say, I love you more than any action I take, I'll be right here loving you until the end.</li>
		</ul>
	</div>
	<div id="thewedding">
		
	</div>

	<div id="weddingdivtext">
		<h2>The Wedding</h2>
		<h4>Date: August 18, 2017</h4>
		<h4>Location: Detroit, MI</h4>
		<h4>Formal invitation to follow</h4>
	</div>
<!-- 	<div id="nav4">
		<h2>The Bridal Party</h2>
	</div> -->
	<!-- separate page for bridal party -->
	<div id="nav5">
		<h2>Parking and Accommodations</h2>
	</div>
	<div id="nav6">
		<h2>Registry</h2>
	</div>
	<div id="nav7">
		<h2>RSVP</h2>
	</div>
	</div>
	<script type="text/javascript">
		var ctx = document.querySelector("canvas").getContext("2d"),
	dashLen = 220,
	dashOffset = dashLen,
	speed = 60,
	txt = "the jackson love affair",
	x = 30, i = 0;

	ctx.font = "50px Permanent Marker, TSCu_Comic, sans-serif";
	ctx.lineWidth = 2;
	ctx.lineJoin = "round";
	ctx.globalAlpha = 1;
	ctx.strokeStyle = ctx.fillStyle = "#FFFFFF";

	(function loop() {
  ctx.clearRect(x, 0, 60, 150);
  ctx.setLineDash([dashLen - dashOffset, dashOffset - speed]); // create a long dash mask
  dashOffset -= speed;                                         // reduce dash length
  ctx.strokeText(txt[i], x, 90);                               // stroke letter

  if (dashOffset > 0) requestAnimationFrame(loop);             // animate
  else {
    ctx.fillText(txt[i], x, 90);                               // fill final letter
    dashOffset = dashLen;                                      // prep next char
    x += ctx.measureText(txt[i++]).width + ctx.lineWidth * Math.random();
    ctx.setTransform(1, 0, 0, 1, 0, 3 * Math.random());        // random y-delta
    ctx.rotate(Math.random() * 0.005);                         // random rotation
    if (i < txt.length) requestAnimationFrame(loop);
  }
})();
	</script>
</body>
</html>

<!-- Home
Our Story
The Wedding
Parking and Accommodations
Registry
RSVP
Bridal Party -->

<!-- FONTS:

Permanent Marker
Rochester
Rouge Script
Stalemate
Cedarville Cursive
Redressed -->


