<!DOCTYPE html>
<html>
<head>
	<title>RSVP</title>
	<script src="app.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Sue Ellen Francisco|Covered By Your Grace|Alex Brush" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
		<script type="text/javascript" src="http://app.rsvpify.com/embed/93663"></script>
		<script type="text/javascript" src="http://app.rsvpify.com/js/iframeResizer.min.js"></script><script type="text/javascript">iFrameResize({autoResize: true,heightCalculationMethod: 'max',enablePublicMethods: true}, "#RSVPifyIFrame");
		</script>
	
</body>
</html>